# dependencies
/node_modules
/.pnp
.pnp.js

webapp/node_modules
webapp/.pnp

# testing
/coverage
/webapp/coverage

# next.js
/.next/
/out/
/webapp/.next/
/webapp/out/

# production
/build
/webapp/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*

# local env files
.env*.local
.env
webapp/.env
webapp/.env.local
ai-agents/.env

# vercel
.vercel
webapp/.vercel
# typescript
*.tsbuildinfo
next-env.d.ts 
webapp/next-env.d.ts


transcripts/

# cairo
cairo/certificate_nft/target

# ai agents
ai-agents/transcriptions
ai-agents/user_speech
ai-agents/examples
ai-agents/transcripts

